#footer-links{
    width: 2rem;
    height: 2rem;

}

.forbackground{
    background-color: #F1CA89;
    border-bottom:0.3rem solid #F2DAC3;
    margin-right:-0.75rem;
    margin-left:-0.75rem;
    text-align: center;
}

.btn{
    background-color: #C8C2BC;
}