.forbackground{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F1CA89 ;
    text-align: center;
}
.spanbackground
{
    text-align: center;
    padding: 0.5rem;
    background-color:darksalmon;
}
.spanmiddlebackground
{
    text-align: center;
    padding: 0.5rem;
    background-color:rgb(207, 106, 95);
}
.forborder{
    border-bottom:0.3rem solid #F2DAC3;
    padding-bottom: 0.5rem;
}
.forpadding{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}