


<div class="row forbackground">

   

    <div id="footer-body">
        <a href="https://twitter.com/"><img id="footer-links" src="../../assets/images/twitter.png" alt=""></a>
        <a href="https://www.linkedin.com/"><img class="ms-4" id="footer-links" src="../../assets/images/linkedin.png" alt=""></a>
        <a href="https://www.facebook.com/"><img class="ms-4" id="footer-links" src="../../assets/images/facebook.png" alt=""></a>
    </div>
    

    <footer id="footer-bottom">
        <div class="row">
            <div class="col-lg-3 col-xs-3"></div>
            <div class="col-lg-3 col-xs-3">
                <p><img class="me-1" id="footer-links" src="../../assets/images/mail.png" alt="">bugramarsak@gmail.com</p>
            </div>
            <div class="col-lg-3 col-xs-3">                                                                                  
                <p class="ms-5"><img class="me-2" id="footer-links" src="../../assets/images/phone-call.png" alt="">90-(555)-555-55-55</p>
            </div>
            <div class="col-lg-3 col-xs-3"></div>
            
        </div>
        
        
    </footer>

</div>