#testimonials-adress
{
    text-align: center;
    color: #fff;
}
.carousel-item
{
    padding: 7% 15%;
}

.forbackground{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F1CA89;
}

.btn{
    background-color: #C8C2BC;

}